#order-page{
    .container{
        @media(min-width: 1440px){
            max-width: 1400px;
        }
    }
    .speps-form{
        @media(min-width: 991px){
            min-height: 100vh;
        }
        /*form styles*/
        #msform {
            position: relative;
            margin-top: 30px;
        }

        #msform fieldset {
            border: 0 none;

            /*stacking fieldsets above each other*/
            position: relative;
            width: 100%;

            .fieldset-heading{
                margin: 0 -15px;
                padding: 1.5rem 15px;
            }

            .form-group{
                padding: 7px 0;
            }
        }

        /*Hide all except first fieldset*/
        #msform fieldset:not(:first-of-type) {
            display: none;
        }

        //label 
        #msform label {
            font-family: 'Metropolis-Regular';
            font-size: 14px;
            color: #604a4a;
        }

        // placeholder
        #msform .form-control::placeholder{
            font-family: 'Metropolis-Regular';
            font-size: 14px;
            color: #b9b9b9;
        }

        /*inputs*/
        #msform input, #msform textarea {
            font-size: 14px;
            color: #191919;
            padding: 22px 15px;
            border: 1px solid #ccc;
            border-radius: 5px;
            background: #fcfcfc;
            width: 100%;
        }

        #msform input:focus, #msform textarea:focus {
            box-shadow: 0px 4px 10px 0px rgba(241, 242, 255, 1);
            -moz-box-shadow: 0px 4px 10px 0px rgba(241, 242, 255, 1);
            -webkit-box-shadow: 0px 4px 10px 0px rgba(241, 242, 255, 1);
            border: 1px solid $color-blue;
            background: $color-white;
            outline-width: 0;
            transition: All 0.2s ease-in;
            -webkit-transition: All 0.2s ease-in;
            -moz-transition: All 0.2s ease-in;
            -o-transition: All 0.2s ease-in;
        }
        
        /*buttons*/
        #msform .btn{
            margin: 30px 0;
        }


        /*headings*/
        .fs-title {
            font-family: 'Metropolis-SemiBold';
            font-size: 18px;
            text-transform: capitalize;
            color: #414141;
            padding-bottom: 7px;
        }

        .fs-subtitle {
            font-size: 13px;
            color: #333;
            span{
                color: $color-blue;
            }
        }

        /*progressbar*/
        #progressbar {
            margin-bottom: 30px;
            /*CSS counters to number the steps*/
            counter-reset: step;
            transform: translateX(5%);
            overflow: hidden;
            padding-top: 5px;

            @media(max-width: 575px){
                transform: translateX(0);
            }
        }

        #progressbar li {
        list-style-type: none;
        color: #727272;
        text-transform: uppercase;
        font-size: 13px;
        width: 50%;
        float: left;
        position: relative;
        letter-spacing: 1px;
        text-align: center;
        }
        #progressbar li.active{
            color: $color-blue;
        }

        #progressbar li:before {
            content: counter(step);
            counter-increment: step;
            width: 28px;
            height: 28px;
            line-height: 26px;
            display: block;
            font-size: 12px;
            color: transparent;
            background: #eaeaea;
            border-radius: 25px;
            margin: 0 auto 10px auto;
            border: 7px solid white;
            box-shadow: 0 0 0px 1px #b0b4b6;
        }

        /*progressbar connectors*/
        #progressbar li:after {
            content: '';
            width: 100%;
            height: 1px;
            background: #b0b4b6;
            position: absolute;
            left: -50%;
            top: 12px;
            z-index: -1; /*put it behind the numbers*/
        }

        #progressbar li:first-child:after {
            /*connector not needed before the first step*/
            content: none;
        }

        /*marking active/completed steps green*/
        /*The number of the step and the connector before it = green*/
        #progressbar li.active:before, #progressbar li.active:after {
            background: $color-white;
            color: transparent;
            border: 10px solid $color-blue;
            box-shadow: none;
        }
        #progressbar li.active:after{
            border: 1px solid $color-blue;
        }

    }

    //  review-package
    .review-package{
        .heading{
            font-size: 18px;
            color: #1b1b1b;
            padding: 47.5px 15px;
            margin: 0 -15px
        }

        .package-box{
            background: #fcfcfc;
            border: 1px solid #e6e6e6;
            border-radius: 5px;
            padding: 20px;
            margin: 25px 0;
            .package-name{
                font-family: 'Metropolis-Bold';
                font-size: 16px;
                color: #353535;
                padding-bottom: 5px;
            }
            .package-price{
                font-family: 'Metropolis-Bold';
                font-size: 20px;
                color: $color-blue;
            }
        }

        .total-price-box{
            background: #f9f9f9;
            @media(min-width: 991px){
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
            }
            ul{
                padding: 25px;
                li{
                    padding: 3px 0;
                    .title{
                        font-size: 16px;
                        color: rgba(#2d2d2d, 0.6);
                    }
                    .price{
                        font-family: 'Metropolis-SemiBold';
                        font-size: 16px;
                        color: #2d2d2d;
                    }
                }
            }
            .total{
                font-family: 'Metropolis-Bold';
                font-size: 20px;
                color: #2d2d2d;
            }
            .total-price{
                font-family: 'Metropolis-Bold';
                font-size: 22px;
                color: #1b1b1b;
            }
        }
    }

}